.container {
	width: 350px;
	margin: 0 auto;
}

.image {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
}
